.section1{
    background: url('../../public/images/career-bg.jpeg');
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    align-items: center;
   text-align: center;
   margin-bottom: 100px;
}

.section1 h1{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 3.7em;
    line-height: 1.1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.section2 h1{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 3.7em;
    line-height: 1.1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 50px;
}


.section1 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}
.card h5{
   
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.4em;
    line-height: 0.8em;
    text-align: left;
    font-weight: bold;
    /* margin-bottom: 10px; */
}
.card p{
    /* margin-top: 0em; */
    margin-bottom: 0px !important;
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

 .card{
    padding: 30px 30px;
    background-color: hsla(0, 0%, 100%, 0.9);
    box-shadow: 0 0 1.6em 0.7em rgba(37, 44, 97, 0.09);
    display: flex;
    align-items: center ;
    border-radius: 15px;
    /* margin: 10px; */
    height: 100%;
}

.section1 h6{
    font-family: 'Open Sans', sans-serif;
    color: rgba(4, 4, 11, 0.6);
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #4c80ee;
}
.link{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.link a{
    box-shadow: 6px 6px 14px 1px rgba(37, 44, 97, 0.14);
    font-family: Montserrat, sans-serif;
    color: #4c80ee;
    font-size: 0.6em;
    line-height: 1px;
    font-weight: 600;
    background: #fff;
    margin: auto !important;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
}

.lastText{
    /* margin-bottom: 60px !important; */
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    padding-bottom: 100px;
   

}
.lastText a{
    text-decoration: none;
}

@media all and (min-width: 992px){
    .section1 p{
        width: 70%;
        margin: auto;
    }

    .lastText{
        width: 70%;
        margin: auto;
    }
   

}

@media (max-width: 991.98px) {
    .section1 h1{
        font-size: 3em;
        line-height: 1;
    }
    .section2 h1{
        font-size: 3em;
        line-height: 1;
    }
    .section1 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }

    .lastText{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .card h5{
   
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* margin-bottom: 10px; */
    }
    .card p{
        /* margin-top: 0em; */
        margin-bottom: 0px !important;
        padding-top: 0em;
        font-family: 'Open Sans', sans-serif;
        color: rgba(49, 52, 87, 0.8);
        font-size: 0.7em;
        line-height: 1.5;
        font-weight: 400;
        text-align: left;
    }

}

@media (max-width: 767.98px) { 
    .section1 h1{
        font-size: 2.0em;
        line-height: 1.3;
    }
    .section2 h1{
        font-size: 2.0em;
        line-height: 1.3;
    }
    .section1 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }

    .lastText{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }

    .section1 h6{
        font-family: 'Open Sans', sans-serif;
        color: rgba(4, 4, 11, 0.6);
        font-size: 0.6em;
        line-height: 1.5;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        color: #4c80ee;
    }

    .card h5{
   
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.1em;
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* margin-bottom: 10px; */
    }
    .card p{
        /* margin-top: 0em; */
        margin-bottom: 0px !important;
        padding-top: 0em;
        font-family: 'Open Sans', sans-serif;
        color: rgba(49, 52, 87, 0.8);
        font-size: 0.7em;
        line-height: 1.5;
        font-weight: 400;
        text-align: left;
    }
    

}