.section1 h1{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 3.7em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.section1{
    margin-top: 100px;
    margin-bottom: 100px;
}

.section1 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.section1 h6{
    font-family: 'Open Sans', sans-serif;
    color: rgba(4, 4, 11, 0.6);
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px;
    color: #4c80ee;
}

.section2 h4{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.section2 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}


@media all and (min-width: 992px){
    .section1 p{
        width: 60%;
    }
    .section2 p{
        width: 60%;
    }
}


@media (max-width: 991.98px) {
    .section1 h1{
        font-size: 3em;
        line-height: 1;
    }
 
    .section1 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .section2 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }


}

@media (max-width: 767.98px) { 
    .section1 h1{
        font-size: 2.0em;
        line-height: 1.3;
    }

    .section1 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .section2 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }

    .section2 h4{
        margin: 0.2em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.1em;
        line-height: 1.3em;
        text-align: left;
        font-weight: bold;
        margin-bottom: 20px;
        margin-bottom: 30px;
    }

}