
@media screen and (max-width: 1100px) {
  .TitleText{
    font-size:45px!important;
    padding-top:100px!important;
    padding-left:25px !important;
  }
  .headerimg .TitleText{
    padding-left:25px !important;
    overflow:hidden !important;
    margin:0px !important;
    text-align: left;
  }
  .headerimg .SubText{
    font-size:20px!important;
    width:100%!important;
    color:rgb(100, 90, 90) !important;
    font-weight:bold !important;
    padding-right:10% !important;
    margin-bottom:0px !important;
    padding-bottom:15px !important;
    padding-left:25px !important;
  }
  .headerimg{
    background-size:cover !important;
    height:auto !important;
    background-position:left !important;
  }
  .headerimg .buttons{
    width:100% !important;
    padding-left:10% !important;
  }
  .headerimg #headerBut1, .headerimg #headerBut2{
    font-size: 25px !important;
    width:300px !important;
    padding-left:10px !important; 
  }
  .headerimg #headerBut2{
    border-width:5px !important;
    color: #161A23;
    background-color:rgba(184, 182, 182, 0.7) !important;
  }
  .nodes{
    text-align: center !important;
    width:80% !important;
    height:90px!important ;
    padding-top:5px !important;
  }
.nodes h1, .nodes h3, .nodes h2{
  float:left !important;
  font-weight:bold !important;
}

.nodes h1, .nodes h3, .nodes h2{
  margin-left:8% !important;
  margin-top:2%!important ;
}

.nodes h1{
  margin-top:4% !important;
}

.nodes h3{
  margin-top:2% !important;
  font-size:30px !important;
  margin-right:20px !important;
}

.nodes h2{
  font-size:30px !important;
}
.blueDot{
  height: 20px !important;
  width: 20px !important;
  border-radius: 50% !important;
  background-color:rgb(43,97,209)!important;
  z-index: 2 !important;
  overflow:hidden !important;
}
.nodes .smallDesc{
  font-size:15px !important;
  text-align:left !important;
  margin-right: calc(100% - 300px);
  margin-left: 0 !important;
  padding-left: 20px;
  margin-bottom: 0%;
}
.smallDesc{
  font-size:15px !important;
}
.infographs .SubText{
  width:100% !important;
  font-size:20px!important;
  margin-right:50px !important;
}
.infographs .TitleText{
  padding-top:15px!important;
  font-size:45px!important;
  padding-right: 0px!important;
}
.circleGraph{
  width:100% !important;
  margin-right:0px !important;
  margin-left:10px !important;
}

.lineGraph{
  width:100% !important;
}


  .infographs .buttons{
    width:100% !important;
    padding-left:17% !important;
  }
  .infographs #headerBut2{
    font-size: 20px !important;
  }
  .infographs #headerBut2{
    border-width:5px !important;
    width:50vw
  }
  .lineGraph{
    width: 100% !important;;
  }
  .infohierarchy .SubText{
  width:100% !important;
  font-size:20px!important ;
}

.infohierarchy .buttons{
  margin-left:20px !important;
}
  .infohierarchy .buttons{
    width:100% !important;
    padding-left:10% !important;
  }
  .infohierarchy #headerBut2{
    font-size: 20px !important;
  }
  .infohierarchy #headerBut2{
    border-width:5px !important;
    width:50vw
  }
  .divContainer img{
    visibility:hidden !important;
}
.doubleDiv{
  width:100% !important;
  margin-left:0%!important;
  margin-bottom:10% !important;
  padding-bottom:10% !important;
  height:400px !important;
}

  .Node{
    margin-top:5% !important;
    height:50% !important;
    padding-top:1% !important;
    padding-bottom:70px !important;
    padding-right: 5% !important;
  }
  .Reward{
    height:20%!important;
  }
  .Reqs{
    padding-top:10px !important;
    height:385px !important;
    font-size:85% !important;
  }
  .Placeholder{
    padding-top:5% !important;
    margin-top:5% !important;
    width:60%!important;
    height:80%!important;
  }
  .hardware{
    margin-top:15%!important;
  }
  .btnTrans{
    margin-top:4% !important;
    height:25% !important;
    font-size:20px !important;
    width:30%!important;
    border-radius: 30%!important;
  }
  
  .stakingSub{
  width:100% !important;
}

.productName{
  margin-right: 20% !important;
}
.hardwareDiv .productDiv{
  font-size:20px !important;
  margin-left:20% !important;
  width:60% !important;
  border-radius: 20px !important;
}
.hardwareDiv .btnTrans{
  margin-right: 20% !important;
  font-size:15px!important;
  width:60%!important;
  border-radius: 20px !important;
  margin-left:20% !important;
}
.hardwareDiv .SubText{
  margin-left:5% !important;
  font-size:15px!important;
}

.div8 .TitleText{
  padding-top: 80% !important;
  font-size:45px!important;
  margin-bottom: 0%;
  text-align: center;
  margin-left: -10%;
  /* height: 2000px; */
}

.div9 .SubText{
  padding-top:0px !important;
  font-size:20px !important;
}

.puchaseOption{
  float:left !important;
  width:80% !important;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1) !important;
  height:70% !important;
  border-radius:3vw !important;
  font-size:30px !important;
  color:black !important;
  text-align: center !important;
  margin-left: 5%;
}

.puchaseOption img{
  width:80% !important;
  margin-left:13% !important;
  float:left !important;
}

.TitleText{
  padding-left: 0% !important;
}

.btnTrans2{
  font-size:15px!important;
  width:70%!important;
  margin-left:15% !important;
}
.smallgrey{
  font-size:15px!important;
  color:black !important;
}

.guideName{
  font-size:15px !important;
}

.guideName2{
  font-size:15px !important;
}

.parent {
display: grid !important;
grid-template-columns: repeat(2, 1fr) !important;
grid-template-rows: repeat(9, 1fr) !important;
grid-column-gap: 0px !important;
grid-row-gap: 0px !important;
}

.div1 { grid-area: 3 / 1 / 4 / 3 !important; }
.div2 { grid-area: 5 / 1 / 6 / 3 !important; }
.div3 { grid-area: 6 / 1 / 7 / 3 !important; }
.div4 { grid-area: 7 / 1 / 8 / 3 !important; }
.div5 { grid-area: 8 / 1 / 9 / 3 !important; }
.div6 { grid-area: 9 / 1 / 10 / 3 !important; }
.div7 { grid-area: 4 / 1 / 5 / 3 !important; }
.div8 { grid-area: 1 / 1 / 2 / 3 !important; }
.div9 { grid-area: 2 / 1 / 3 / 3 !important; }

.div8{
  height:20% !important;
}

.div9 .SubText{
  text-align: center;
  padding-right: 15% !important;
  padding-left: 5% !important;

}

.div8 .TitleText .lineBreak{
    display: block !important;
}
.div8 .TitleText .lineBreak::before {
      content: attr(data-text) !important;
}
.navbar_navbar2__idmo4{
  visibility: hidden !important;
  width:20%!important;
}

.Guides h1{
  padding-left: 0% !important;
}

.parent2 {
  margin-left: 0% !important;
  display: grid !important;
  grid-template-columns: repeat(1, 2fr) !important;
  grid-template-rows: repeat(4, 0fr) !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  }
  
  .div10 { grid-area: 3 / 1 / 4 / 3 !important; margin-left: 5%; margin-right: 5%;}
  .div11 { grid-area: 5 / 1 / 6 / 3 !important; margin-left: 5%; margin-right: 5%;}
  .div12 { grid-area: 6 / 1 / 7 / 3 !important; margin-left: 5%; margin-right: 5%;}
  .div13 { grid-area: 7 / 1 / 8 / 3 !important; margin-left: 5%; margin-right: 5%;}
  .div14 { grid-area: 8 / 1 / 9 / 3 !important; margin-left: 5%; margin-right: 5%;}
  .div15 { grid-area: 9 / 1 / 10 / 3 !important; margin-left: 5%; margin-right: 5%;}

  .guidesContain{
    width: 100% !important; 
  }
  .guidesContain p{
    padding-right: 8%;
  }
}

.uppercase{
  text-transform: uppercase;
}

.bluetext{
  color:#2B61D1!important;
}

.lightbluetext{
  color:#2D8EFF!important;
}

.bold{
  font-weight:bold;
}

.smallDesc{
  color:#999CB1;
  font-size:1vw;
}
.nodes .smallDesc{
  margin-left: 10%;
}

.center{
  text-align:center;
}

.left{
  text-align:left;
}
.left2{
  float:left;
}
.right{
  float: right !important;;
}

.centerparagraph{
  text-align:center;
  margin-left:20%;
  margin-right:20%;
}

.smallgrey{
  line-height:135%;
  color:rgba(152,167,185,0.5);
  font-weight:400;
  font-size:1.0vw;
}
.overlay{
  background-color:rgba(23,89,218,0.1);
  padding:0px;
  z-index: 2;
  width:100%;
  position: absolute;
  height:100%;
  margin-top:1%;
  background-size:100%;
}


.blueDot{
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-color:rgb(43,97,209);
  z-index: 2;
  overflow:hidden;
}

.topnav{
  background-color:white!important;
}

.headerimg{
  margin:0;
  padding:0;
  padding-top:23%;
  background-image:url("../../public/images/images/headerImg.png");
  height:1000px;
  width:100%;
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center;
}




.navbar_navbar2__idmo4{
  overflow:visible!important;
}

.body{
  font-family:montserrat;
  background-color:#FAFCFF;
}

.main{
  font-family:montserrat;
  background-color:#FAFCFF;
}

.navbar_navbar2__idmo4{
  width:100%!important;
}

.TitleText{
  padding-left:10%;
  color:#303B52;
  font-weight:bold;
  font-size:4vw;
  line-height:105%;
}

.headerimg .TitleText{
  margin-top: -12%;
}

.infographs .TitleText{
  padding-top:2%;
  padding-left:0;
  padding-right:30%;
  float:left;
}

.infographs .SubText{
  padding-left:0;
  color:#98A7B9;
  float:left;
  width:100%;
}

.infohierarchy .TitleText{
  padding-left:0%;
}

.infohierarchy .SubText{
  padding-left:0;
  color:#98A7B9!important;
  width:60%;
}

.SubText{
  line-height:135%;
  padding-left:10%;
  color:rgba(48,59,82,0.7);
  font-weight:400;
  font-size:1vw;
  width:40%;
}

.buttons{
  width:40%;
  padding-left:10%;
}

.infographs .buttons{
  padding-left:0;
}

.infohierarchy .buttons{
  margin-top:3%;
  padding-left:0;
  margin-bottom:3%;
}

.infographs #headerBut2{
  color:#98A7B9!important;
}

.infohierarchy #headerBut2{
  color:#98A7B9!important;
}

#headerBut1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1.1vw;
line-height: 150%;
background: #2B61D1;
border-radius: 70px;
display:inline-block;
align-items: center;
text-align: center;
color: #FFF;
width:45%;
padding-top:2%;
/*height:50px;*/
padding-bottom:2%;
}


#headerBut1:hover{
  background-color: #161A23;
  color: #FFFFFF;
}

#headerBut2{
border: 2px solid #5F6578;
border-radius: 70px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1.1vw;
line-height: 150%;
background: transparent;
border-radius: 70px;
display:inline-block;
align-items: center;
text-align: center;
color: #5F6578;
width:45%;
padding-top:2%;
padding-bottom:2%;
}

#headerBut2:hover{
  background-color: #FFFFFF;
  color: #161A23;
}


.nodes{
  background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.11));
  width:25%;
  height:30%;
  margin-left:10%;
  margin-top:3%;
  border-radius:20px;
  overflow:visible;
}

.nodes h1, .nodes h3, .nodes h2{
  float:left;
  font-weight:bold;
}

.nodes h1, .nodes h3, .nodes h2{
  margin-left:12%;
  margin-top:6%;
}

.nodes h1{
  margin-top:10%;
}

.nodes h3{
  margin-bottom: 0%;
  margin-left:10%;
  margin-top:8%;
  font-size:1.5vw;
}

.nodes h2{
  font-size:1.8vw;
}

/* IMAGE */
.partnersimg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.imagecontainer {
    overflow-x: hidden;
    max-width: 80vw;
}
.imagewrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.imagewrapper > * {
    aspect-ratio: 4 / 3;
}
.loopingImg {
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
    text-align:center;
}
.loopingImg img{
    width: 90%;
    margin:0 auto;
    object-fit: cover;
    display: block;
    max-height:100%;
}
/* IMAGE */

.partners{
  width:100%;
  padding-top:5%;
  display:block;
  background-color:#FCFDFF;
}

.infographs{
  margin-top:3%;
  margin-left:10%;
  width:80%;
  
}



.circleGraph{
  width:41%;
  margin: 0 28%;
  height:41%;
}

.lineGraph{
  margin-top:3%;
  width:90%;
  text-align:bottom;
}

.infohierarchy{
  margin-top:3%;
  margin-left:10%;
  width:80%;
  height:100%;
}

.doubleDiv{
  width:47.5%;
  height:100%;
  float:left;
  background-color:white;
  filter:drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.08)) drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.13));
  border-radius:1.5vw;
}

.divContainer{
  margin-top:3%;
  width:100%;
  height:30vh;
  margin:0;
  margin-bottom:3%;
  margin-left:0%;
}

.divContainer img{
  float:left;
  width:4%;
  margin-top: 5%;
  position:absolute;
  z-index:2;
}

.Node{
  padding-left:5%;
  line-height:180%;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  width:40%;
  height:40%;
  margin-left:10%;
  margin-top:8%;
  border-radius:1.5vw;
  font-size:115.25%;
  display:inline-block;
}




.Reward{
  padding:4%;
  padding-top:1%;
  line-height:180%;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  width:40%;
  height:10%;
  margin-left:10%;
  margin-top:3%;
  border-radius:1.5vw;
  font-size:75%;
  display:inline-block;
}

.Reqs{
  display:block;
  float:right;
  height:90%;
  margin-top:2%;
  width:40%;
  border-left:rgba(152,167,185,0.5) 1px solid;
  padding-left:5%;
  color:rgba(152,167,185,0.5);
  font-size:78%;
  line-height:160%;
  margin-right:1%;
}
.stakingSub{
  width:40%;
}
.darker{
  color:#98A7B9;
  line-height:250%;
}

.Placeholder{
  text-align:center;
  line-height:180%;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  width:40%;
  height:35%;
  margin:0 auto;
  margin-top:13%;
  border-radius:1.5vw;
  font-size:115.25%;
  display:block;
  color:rgba(152,167,185,1);
}

.list{
  display: list-item;
  margin-left:5%;
  width:35%;
  padding-bottom:5%;
}

.sliderSection{
  margin-bottom: 100px;
}
.sliderSection h6{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 11.9938px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #2B61D1;
  text-align: center;
}

.hardware{
  margin-top:5%;
  background-color:#FCFDFF;
  margin-left:7%;
}

.column3-large {
  float: left;
  width: 60%;
  display:block;
}

.column3-small {
  float: left;
  width: 33.33%;
  display:block;
}

.column3-large .SubText{
  width:100%;
  padding-left:0%;
}
.column3-large .TitleText{
  padding-left:0%;
}

.small{
  float: left;
  width: 33.33%;
  display:block;
}

.hardwareDiv{
  margin-left:6%;
  width:80%;
  margin-left: 10%;
  background-color:white;
  border-radius:5vw;
  filter:drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.08)) drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.13));
  padding-bottom:5%;
}

.scroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.hardwareDiv img{
  width:80%;
  height: 100%;
  border-radius: 25px;
  margin-left:10%;
}

.productName{
  font-size:1vw;
}

.productDiv{
  float:left;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  margin-top:10%;
  width:40%;
  margin-bottom:6%;
  margin-left:10%;
  text-align:center;
  line-height:180%;
  display:block;
  color:rgba(152,167,185,1);
  margin-right:0px;
  border-radius:70px;

}

.btnTrans{
  margin-top:10%;
  margin-bottom:6%;
  float:left;
  border: 2px solid rgba(152,167,185,0.5);
  border-radius: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 150%;
  background: transparent;
  border-radius: 70px;
  display:inline-block;
  align-items: center;
  text-align: center;
  color:rgba(152,167,185,0.5);
  width:30%;
  padding-top:2%;
  padding-bottom:2%;
  margin-left:10%;
}

.btnTrans2{
  float:left;
  border: 2px solid rgba(152,167,185,0.5);
  border-radius: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 150%;
  background: transparent;
  border-radius: 70px;
  display:inline-block;
  align-items: center;
  text-align: center;
  color:rgba(152,167,185,0.5);
  width:30%;
  padding-top:2%;
  padding-bottom:2%;
}

.puchaseOption{
  float:left;
  width:80%;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  height:100%;
  padding-bottom: 10px;
  border-radius:3vw;
  font-size:1.5vw;
  color:black;
}

.puchaseOption img{
  width:40%;
  margin-top:5%;
  margin-left:3%;
  float:left;
}

.hardwareName{
  font-size: 25px;
  margin-top:10%;
}

.parent {
  float: left;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  }
  
  .div1 { grid-area: 3 / 1 / 4 / 2; }
  .div2 { grid-area: 3 / 2 / 4 / 3; }
  .div3 { grid-area: 4 / 1 / 5 / 2; }
  .div4 { grid-area: 4 / 2 / 5 / 3; }
  .div5 { grid-area: 5 / 1 / 6 / 2; }
  .div6 { grid-area: 1 / 1 / 2 / 3; }
  .div7 { grid-area: 2 / 1 / 3 / 3; }

  .scroll{
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    margin-bottom: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 28%;
  }

.div6 .TitleText{
  padding-left:0px;
}

.div7 .SubText{
  padding-bottom:0px;
  margin-bottom:0px;
  padding-left:0px;
}

  



.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 70%;
  margin: 0 18%;
  }

.div10 { grid-area: 1 / 1 / 2 / 2; }
.div11 { grid-area: 1 / 2 / 2 / 3; }
.div12 { grid-area: 1 / 3 / 2 / 4; }
.div13 { grid-area: 2 / 1 / 3 / 2; }
.div14 { grid-area: 2 / 2 / 3 / 3; }
.div15 { grid-area: 2 / 3 / 3 / 4; }

.Guides{
  background-color:#FAFCFF;
}

.guidesContain{
  background-color:#FFFFFF;
  width:30%;
  height:270px;
  border-radius:40px;
  filter:drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.08)) drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.13));
  text-align:center;
}

.containGuides{
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
  margin-bottom: 2%;
}

.guidesContain iframe{
  width: 80%;
  height: 67%;
  margin-top:15px;
  margin-bottom:17px;
  border-radius:25px;
}

.guidesContain img{
  width:90%;
  margin-bottom: 2px;
}

.guideName{
  font-size:1vw;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  background-color:white;
  width:92%;
  margin:0 auto;
  border-radius:70px;
  box-shadow: 0.5vw 0.8vw 0.7vw 0.2vw rgba(43, 97, 209, 0.2);
}

.guideName2{
  font-size:1.25vw;
  background-color:white;
  width:80%;
  margin-left:10%;
  border-radius:70px;
}

.dropdown-menu{
  --bs-dropdown-min-width: 20vw!important;
}



