.section1{
  margin-top: -90px;
  padding-top: 200px;
  background-image:url("../../public/images/images/Header\ Background.svg");
  height:100vh;
  width:100%;
  background-size:cover;
  background-position:center;
}

.section1 h1{
  margin: 0.2em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: #313457;
  font-size: 3.7em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
  
  }

  .section1 h1 span{
    color: #2B61D1;
  }
  
  .section1 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
  }
  .btn1{
    /* border: 2px solid var(--text-blue); */
    padding: 15px 30px;
    width: 180px;
    font-size: 14px;
    /* border-radius: 10px; */
    /* color: var(--text-blue) !important; */
    text-decoration: none;
   
    margin-right: 15px;
    margin-left: 0px;
    text-align: center;
    background: transparent;
    border:#5F6578 1px solid;
    border-radius: 100px;
    color: #5F6578;
    font-size: 14px;
    transition: all .2s ease-in-out;
  }
  
  .btn2{
    /* background: var(--text-blue); */
    padding: 15px 30px;
    /* border-radius: 10px; */
    color: var(--text-white) !important;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 0px;
    width: 180px;
    text-align: center;
    background: #2B61D1;
    box-shadow: 0px 3.17664px 15.8832px 1.58832px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-size: 14px;
    transition: all .2s ease-in-out;
  }
  .btn2:hover{
    transform: scale(1.1); 
  }
  .btn1:hover{
    transform: scale(1.1); 
    color: #5F6578;
  }


  .nodes{
    background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.11));
    width:70%;
    height:120px;
    margin-top:50px;
    border-radius:20px;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
  }

  .nodesContainer{
    display: flex;
    width: 100%;
    padding: 10px;
  }

 
  .nodes h1, .nodes h3, .nodes h2{
  /* float:left !important; */
  font-weight:bold !important;
  }
  

  
  .nodes h1{
  margin: auto;
  }
  
  .nodes h3{
  float: left;
  font-size:20px;
  line-height: 25px;

  }
  
  .nodes h2{
  font-size:25px;
  line-height: 25px;
  float: right;
  }
  .smallDesc{
    font-size:15px ;
    text-align:left ;
    margin-left: 0 ;
    padding-left: 20px;
    margin-bottom: 0%;
    color: #999CB1;
    }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
  .blueDot{
  height: 15px;
  width: 15px;
  border-radius: 100% ;
  background-color:rgb(43,97,209);
  animation: pulse-animation 2s infinite;
  }
  .dotanimation{
    background: #FFFFFF;
    box-shadow: 11.2442px 11.2442px 18.7404px 1.49923px rgba(43, 97, 209, 0.1);
    border-radius: 100px;
    padding: 5px;
    height: fit-content ;
    margin: auto;
    
  }

  .section2 h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11.9938px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #2B61D1;
    margin-top: 100px;
  }
  .section2{
    margin-bottom: 100px;
  }
  

  .section3 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.7em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section3 h3 span{
    color: #2B61D1;
  }
  
  
  .section3 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    
  }

  .section3 img{
    width: 100%;
    height: auto;
  }
  .section3{
    margin-bottom: 100px;
  }

  .section4 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.7em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section4 h3 span{
    color: #2B61D1;
  }
  
  
  .section4 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    
  }

  .section4{
    margin-bottom: 100px;
  
  }

  .nodeCard{
    width:100%;
    background-color:white;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    border-radius:20px;
    padding: 20px;
    height: 100%;
  
  }
  .cardReq{
    border-left: 1px solid hsla(213, 19%, 66%, 0.41);
    padding-left: 15px;
   
  }
  .cardReq h5{
    font-size: 13px;
    color: #98A7B9;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .cardReq h6{
    font-size: 13px;
    color: #98A7B9;
    font-weight: 300;
  }
  .cardHead{
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    width: 100%;
    border-radius:15px;
    display:inline-block;
    padding: 30px 20px;
   
  }
  .cardHead h4{
    font-size: 19px;
    font-weight: bold;
    color: #2D8EFF;
  }
  .cardHead h5{
    font-size: 17px;
    font-weight: bold;
    color: #303B52;
  }
  .cardRewards{
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    width: 100%;
    border-radius:15px;
    display:inline-block;
    margin-top: 20px;
    padding: 10px 10px;
  }
  .cardRewards span{
    font-size: 12px;
    font-weight: bold;
    color: #2B61D1;
  }
  .nodeCard2{
    width:100%;
    background-color:white;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    border-radius:20px;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .centerCard{
    text-align: center;
    background-color:white;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    border-radius:20px;
    padding: 20px;
  }
  .centerCard h6{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #98A7B9;
  }

  .section5{
    margin-bottom: 100px;
  }
  
  .section6 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.7em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section6 h3 span{
    color: #2B61D1;
  }
  
  
  .section6 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    
  }
  .cardRewards2{
   width: 100%;
    border-radius:15px;
    margin-top: 30px;
   
  }

 
 
 
  
  .hardwareCard{
    margin: auto;
    width: 100%;
    background-color:white;
    border-radius: 30px;
    filter:drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.08)) drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.13));
    padding: 40px 20px;
  }
  
  .scroll {
      width: 100%;
      height: 600px;
      overflow: hidden;
      overflow-y: scroll;
      padding: 20px;
    
      border-radius: 30px;
  }
  .hardwareCard .cardHeader{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .cardHeader h6{
    float: left;
    color: #2B61D1;
    background-color: #FFF;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    padding: 10px 15px;
    border-radius: 30px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .cardHeader a.btn1{
    float: right !important;
    padding: 10px 15px !important;
    width: auto;
    margin-right: 10px;
  
  }
  
  
  .hardwareCard img{
    width:100%;
    height: auto;
    border-radius: 25px;
  }

  .puchaseOption{
    width:100%;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    height:100%;
    padding: 30px 10px;
    border-radius:20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .puchaseOption img{
    width: 80px;
    height: 80px;
    float:left ;
  }
  .puchaseOption h6{
    color: #303B52;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
 
  .puchaseOption .btn1{
    padding: 10px 20px;
  }
  .puchaseOption .button{
    float: right;
  }



  .guidesContain iframe{
    width: 100%;
    height: auto;
    border-radius:15px;
    margin-bottom: 20px;
  }
  
  .guidesContain img{
    width:100% !important;
    height: auto;
    margin-bottom: 20px;

  }
  .guidesContain a{
    text-decoration: none;
    color: #2B61D1;
    font-weight: bold;
    font-size: 15px;
  }
  .guidesContain{
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    border-radius:20px;
    filter:drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.08)) drop-shadow(0px 0px 0.1vw rgba(43, 97, 209, 0.13));
    text-align:center;
    padding: 20px;
  }
  
 




@media all and (min-width: 992px){
  .section1 p{
    width: 80%;
  }
  .section3 p{
    width: 80%;
  }
  .section6 p{
    width: 80%;
  }
  .hardwareCard p{
    font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  .hardwareCard p{
    font-size: 13px;
    line-height: 19px;
  }
  .section1 h1{
    font-size: 3em;
    line-height: 1;
}

.section1 p{
    font-size: 1.0em;
    line-height: 1.6;
    /* margin-bottom: 50px !important; */
}

.nodes{
  background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.11));
  width:70%;
  height:120px;
  margin-top:50px;
  border-radius:20px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.nodesContainer{
  display: flex;
  width: 100%;
  padding: 5px;
}


.nodes h1, .nodes h3, .nodes h2{
/* float:left !important; */
font-weight:500;
}



.nodes h1{
margin: auto;
}

.nodes h3{
float: left;
font-size:17px;
line-height: 25px;

}

.nodes h2{
font-size:20px;
line-height: 25px;
float: right;
}
.smallDesc{
  font-size:14px ;
  text-align:left ;
  margin-left: 0 ;
  padding-left: 20px;
  margin-bottom: 0%;
  color: #999CB1;
  }
  .section2{
    margin-bottom: 70px;
  }
  .section2 h6{
    margin-top: 70px;
  }

  .section3 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .section4 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }


  .nodeCard{
    width:100%;
    background-color:white;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    border-radius:20px;
    padding: 20px;
    height: 100%;
  
  }
  .cardReq{
    border-left: 1px solid hsla(213, 19%, 66%, 0.41);
    padding-left: 10px;
   
  }
  .cardReq h5{
    font-size: 12px;
    color: #98A7B9;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .cardReq h6{
    font-size: 12px;
    color: #98A7B9;
    font-weight: 300;
  }
  .cardHead{
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    width: 100%;
    border-radius:15px;
    display:inline-block;
    padding: 20px 15px;
   
  }
  .cardHead h4{
    font-size: 17px;
    font-weight: bold;
    color: #2D8EFF;
  }
  .cardHead h5{
    font-size: 15px;
    font-weight: bold;
    color: #303B52;
  }
  .cardRewards{
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    width: 100%;
    border-radius:15px;
    display:inline-block;
    margin-top: 20px;
    padding: 10px 10px;
  }
  .cardRewards span{
    font-size: 11px;

    font-weight: bold;
    color: #2B61D1;
  }
  .nodeCard2{
    width:100%;
    background-color:white;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    border-radius:20px;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .centerCard{
    text-align: center;
    background-color:white;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    border-radius:20px;
    padding: 20px;
  }
  .centerCard h6{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    color: #98A7B9;
  }

  .section6 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .section5{
    margin-bottom: 50px;
  }
  .cardRewards2 .btn1{
    width: 100px !important;
    padding: 13px 15px;
    font-size: 12px;
  }

  .cardHeader h6{
    float: left;
    color: #2B61D1;
    background-color: #FFF;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    padding: 10px 10px;
    border-radius: 30px;
    margin-left: 0px;
    font-size: 12px;
    font-weight: bold;
  }
  .cardHeader a.btn1{
    float: right !important;
    padding: 5px 10px !important;
    width: auto;
    margin-right: 0px;
  
  }
  .hardwareCard{
    padding: 40px 15px;
  }
  .puchaseOption{
    width:100%;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    height:100%;
    padding: 25px 10px;
    border-radius:20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .puchaseOption img{
    width: 60px;
    height: 60px;
    float:left ;
  }
  .puchaseOption h6{
    color: #303B52;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
  }
 
  .puchaseOption .btn1{
    padding: 10px 10px;
    font-size: 14px;
  }

  
  .guidesContain a{
    text-decoration: none;
    color: #2B61D1;
    font-weight: bold;
    font-size: 14px;
  }
  

}

@media (max-width: 767.98px) { 
  .section1 h1{
    font-size: 2.0em;
    line-height: 1.3;
}

.section1 p{
    font-size: 0.9em;
    line-height: 1.6;
    /* margin-bottom: 50px !important; */
}
.section1{
  margin-top: -90px;
  padding-top: 200px;
  background-image:url("../../public/images/images/header-bg-fluxnodes.svg");
  height:100vh;
  width:100%;
  background-size:cover;
  background-position:center;
}

.nodes{
  background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.11));
  width:50%;
  height:120px;
  margin-top:50px;
  border-radius:20px;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}

.nodesContainer{
  display: flex;
  width: 100%;
  padding: 5px;
}


.nodes h1, .nodes h3, .nodes h2{
/* float:left !important; */
font-weight:500;
}



.nodes h1{
margin: auto;
}

.nodes h3{
float: left;
font-size:17px;
line-height: 25px;

}

.nodes h2{
font-size:20px;
line-height: 25px;
float: right;
}
.smallDesc{
  font-size:14px ;
  text-align:left ;
  margin-left: 0 ;
  padding-left: 20px;
  margin-bottom: 0%;
  color: #999CB1;
  }
  .blueDot{
    height: 10px !important;
    width: 10px !important;
    border-radius: 100% ;
    background-color:rgb(43,97,209);
    animation: pulse-animation 2s infinite;
    }

    .section3 p{
      font-size: 0.9em;
      line-height: 1.6;
      /* margin-bottom: 50px !important; */
    }
    .section3 h3{
      margin: 0.1em auto 0em 0px;
      font-family: Montserrat, sans-serif;
      color: #313457;
      font-size: 1.5em;
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .section2{
      margin-bottom: 50px;
    }
    .section2 h6{
      margin-top: 50px;
    }
    .section4 p{
      font-size: 0.9em;
      line-height: 1.6;
      /* margin-bottom: 50px !important; */
    }
    .section4 h3{
      margin: 0.1em auto 0em 0px;
      font-family: Montserrat, sans-serif;
      color: #313457;
      font-size: 1.5em;
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      margin-bottom: 10px;
    }
   
    .nodeCard2{
      height: 300px;

    }
    .section6 p{
      font-size: 0.9em;
      line-height: 1.6;
      /* margin-bottom: 50px !important; */
    }
    .section6 h3{
      margin: 0.1em auto 0em 0px;
      font-family: Montserrat, sans-serif;
      color: #313457;
      font-size: 1.5em;
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .cardRewards2 .btn1{
      width: 100px !important;
      padding: 15px 20px;
      font-size: 12px;
    }
    .scroll {
      width: 100%;
      height: 300px;
      overflow: scroll;
      padding: 20px;
    
      border-radius: 30px;
  }
  .puchaseOption{
    width:100%;
    box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
    height:100%;
    padding: 25px 30px;
    border-radius:20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .puchaseOption img{
    width: 70px;
    height: 70px;
    float:left ;
  }
  .puchaseOption h6{
    color: #303B52;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 15px;
  }
 
  .puchaseOption .btn1{
    padding: 10px 20px;
    font-size: 15px;
  }
}





@media (max-width: 575.98px){
  .section1 h1{
    font-size: 1.7em;
    line-height: 1.3;
}

/* .btn1,.btn2{
  width: 130px;
  padding: 10px 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
} */

.nodes{
  background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.11));
  width:70%;
  height:120px;
  margin-top:50px;
  border-radius:20px;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}

.nodesContainer{
  display: flex;
  width: 100%;
  padding: 5px;
}


.nodes h1, .nodes h3, .nodes h2{
/* float:left !important; */
font-weight:500;
}



.nodes h1{
margin: auto;
}

.nodes h3{
float: left;
font-size:15px;
line-height: 25px;

}

.nodes h2{
font-size:18px;
line-height: 25px;
float: right;
}
.smallDesc{
  font-size:14px ;
  text-align:left ;
  margin-left: 0 ;
  padding-left: 20px;
  margin-bottom: 0%;
  color: #999CB1;
  }
  .blueDot{
    height: 10px !important;
    width: 10px !important;
    border-radius: 100% ;
    background-color:rgb(43,97,209);
    animation: pulse-animation 2s infinite;
    }

    .nodeCard{
      height: 100%

    }
    .nodeCard2{
      height: 300px;

    }

    .cardRewards2 .btn1{
      width: 100px !important;
      padding: 13px 10px;
      font-size: 12px;
    }
  
    .puchaseOption{
      width:100%;
      box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
      height:100%;
      padding: 25px 20px;
      border-radius:20px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
  
    }
    
    .puchaseOption img{
      width: 70px;
      height: 70px;
      float:left ;
    }
    .puchaseOption h6{
      color: #303B52;
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 13px;
    }
   
    .puchaseOption .btn1{
      padding: 10px 20px;
      font-size: 13px;
    }

}




























































  
  

































