.section1{
    margin-top: 100px;
    margin-bottom: 100px; 
   
  }
  
  .section1 h1 span{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle farthest-corner at 100% 100%, rgba(43, 97, 209, 1), rgba(43, 97, 209, 1));;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .section1 h1{
  margin: 0.2em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: #313457;
  font-size: 3.7em;
  line-height: 1.1em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  
  }
  
  .section1 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1.3em;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
  }

  .section2 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.7em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card{
    width: 100%;
    height: 200px;
    border-radius: 11px;
    box-shadow: 10px 10px 50px 5px #2B61D11A;
    text-align: center;
    margin: 15px auto;
    transition: all .2s ease-in-out;
}
.card:hover{
    transform: scale(1.1); 
}

.cardImg{
    margin-top: 40px;
    box-shadow: 8px 8px 10px 4px #2B61D11A;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 40px;
}

.btn{
    text-decoration: none;
    padding: 5px 10%;
    border-radius: 15px;
    border:rgba(152, 167, 185, 0.4) 1.5px solid;
    color: #98A7B9;
    font-size: 13px;
    font-weight: 400;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
.btn:hover{
    color: #98A7B9;
    
}

.ambCard{
    width: 100%;
    height: 150px;
    border-radius: 13px;
    box-shadow: 10px 10px 50px 5px #2B61D11A;
    text-align: left;
    padding: 20px; 
    transition: all .2s ease-in-out; 
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.ambCardImg{
    float: left;
    box-shadow: 8px 8px 10px 4px #2B61D11A;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.ambText{
    color: #98A7B9;
    font-size: 12px;
    font-weight: 500;
    float: right;

}

.links{
    text-align: center;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.links img{
    height: 20px;
    width: 100%;
}

.ambCard:hover{
    transform: scale(1.1); 
}

.section2{
    margin-bottom: 100px;
}




























  @media all and (min-width: 992px){
    .section1 p{
      width: 80%;
      margin: auto;
    }
}

@media (max-width: 991.98px) {
    .section1 h1{
      font-size: 3em;
      line-height: 1;
  }
  
  .section1 p{
      font-size: 1.0em;
      line-height: 1.6;
      /* margin-bottom: 50px !important; */
  }
  .section2 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {

    .section1 h1{
      font-size: 2.0em;
      line-height: 1.3;
  }
  
  .section1 p{
      font-size: 0.9em;
      line-height: 1.6;
      /* margin-bottom: 50px !important; */
  }
  .section2 h3{
    margin: 0.1em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .card{
    width: 100%;
    height: 150px;
    border-radius: 11px;
    box-shadow: 10px 10px 50px 5px #2B61D11A;
    text-align: center;
    margin: 15px auto;
    transition: all .2s ease-in-out;
  }
  .cardImg{
    margin-top: 20px;
    box-shadow: 8px 8px 10px 4px #2B61D11A;
    padding: 7px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.btn{
    text-decoration: none;
    padding: 5px 10%;
    border-radius: 15px;
    border:rgba(152, 167, 185, 0.4) 1.5px solid;
    color: #98A7B9;
    font-size: 12px;
    font-weight: 400;
}
}

@media (max-width: 575.98px){
    .section1 h1{
      font-size: 1.7em;
      line-height: 1.3;
  }
  .card{
    width: 100%;
    height: 150px;
    border-radius: 11px;
    box-shadow: 10px 10px 50px 5px #2B61D11A;
    text-align: center;
    margin: 15px auto;
    transition: all .2s ease-in-out;
  }
  .cardImg{
    margin-top: 20px;
    box-shadow: 8px 8px 10px 4px #2B61D11A;
    padding: 7px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.btn{
    text-decoration: none;
    padding: 5px 10%;
    border-radius: 15px;
    border:rgba(152, 167, 185, 0.4) 1.5px solid;
    color: #98A7B9;
    font-size: 12px;
    font-weight: 400;
}
.links img{
    height: 15px;
    width: 100%;
}
}





































