.section1{
  margin-top: 100px;
  margin-bottom: 100px; 
 
}

.section1 h1 span{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle farthest-corner at 100% 100%, rgba(43, 97, 209, 1), rgba(43, 97, 209, 1));;
  -webkit-background-clip: text;
  background-clip: text;
}

.section1 h1{
margin: 0.2em auto 0em 0px;
font-family: Montserrat, sans-serif;
color: var(--CardText);
font-size: 3.7em;
line-height: 1.1em;
text-align: left;
font-weight: bold;
margin-bottom: 20px;

}

.section1 p{
  margin-top: 0em;
  /* margin-bottom: 60px !important; */
  padding-top: 0em;
  font-family: 'Open Sans', sans-serif;
  color: var(--darkText4) ;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}

.section1 p span{
  font-family: 'Open Sans', sans-serif;
  color: #2B61D1;
  font-weight: 700;
}

.buttons{
  display: inline-flex;
}

.btn1{
  /* border: 2px solid var(--text-blue); */
  padding: 15px 30px;
  width: 180px;
  font-size: 14px;
  /* border-radius: 10px; */
  /* color: var(--text-blue) !important; */
  text-decoration: none;
 
  margin-right: 15px;
  margin-left: 0px;
  text-align: center;
  background: transparent;
  border:var(--darkText4)  2px solid;
  border-radius: 100px;
  color: var(--darkText4) ;
  font-size: 14px;
  transition: all .2s ease-in-out;
}

.btn2{
  /* background: var(--text-blue); */
  padding: 15px 30px;
  /* border-radius: 10px; */
  color: var(--text-white) !important;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 0px;
  width: 180px;
  text-align: center;
  background: #2B61D1;
  box-shadow: 0px 3.17664px 15.8832px 1.58832px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  font-size: 14px;
  transition: all .2s ease-in-out;
}
.btn2:hover{
  transform: scale(1.1); 

 
}
.btn1:hover{
  transform: scale(1.1); 
  color: rgba(152, 167, 185);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


.headerImg img{
  width: 100%;
  height: auto;
  text-align: center;
  animation: pulse-animation 2s infinite;
  border-radius: 100%;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(43, 97, 209, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(43, 97, 209, 0.1);
  }
}

.headerImg{
  width: 100%;
  height: 500px;
  background: var(--fluxCircle);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

}

.headerInfo{
  width: auto;
  height: 100%;

}

.infoCard{
  width: 30%;
  float: left;
  height: 100px;
 background: var(--CardBg);
 box-shadow: var(--boxShadow);
 border-radius: 10px;
 padding: 10px 20px;
}

.infoCardMiddle{
  width: 30%;
  height: 100px;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  background: var(--CardBg);
  box-shadow: var(--boxShadow);
  padding: 10px 20px;
}

.iconCircle{
  float: left;
  box-shadow: 11.244214057922363px 11.244214057922363px 18.7403564453125px 1.4992284774780273px rgba(43, 97, 209, 0.1);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.spacer{
  height: 700px;
}

.iconCircle img{
  padding-top: 5%;
  width: 30px;
  height: 70px;
}

.iconCircle .blue{
  font-weight: bold;
}

.infoCardText{
  margin-top: 15px;
  margin-left: 120px;
  font-weight: bold;
}

.infoCardText .subText{
  margin-top: 3px;
  color: var(--darkText4);
  font-size: 10px;
  font-weight: 500;
  padding: 0%;
}

.blueLine{
  margin-top: 7px;
  width:25%;
  border-bottom: rgba(43, 97, 209, 1) solid 3px;
}

.section2{
  margin-top: -20px;
  margin-bottom: 50px;
}

.section2 h3{
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: var(--CardText);
  font-size: 2.7em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.section2 h3 span{
  color: #2B61D1;
}


.section2 p{
  margin-top: 0em;
  /* margin-bottom: 60px !important; */
  padding-top: 0em;
  font-family: 'Open Sans', sans-serif;
  color: var(--darkText4);
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  
}

.img2 img{
  width: 100%;
  height: auto;
}

.assetTexts{
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.subTitle{
  padding: 0.5% 0;
  /* margin: 0.1em auto 0em 0px; */
  font-family: Montserrat, sans-serif;
  color: var(--CardText);
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  float: left;
}
.subTitle span{
  color: #2B61D1;
}
.subTitle2{
  text-align: right;
  padding: 0.5% 0;
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: bold;
  color: var(--CardText);
}

.tokenomics{
  padding: 20px;
   width: 100%;
}

.paddingRight{
  padding-right: 20px;
}

.tokenHead{
  /* width: 100%;
  height: 80px; */
}

.progressBar .left{
  min-height: 50px;
  padding: 20px;
  padding-left: 0px;
  font-size: 19px;
  font-weight: 400;
  /* padding-bottom: 35px; */
  width: auto;
  float: left;
}

.progressBar2 .left{
  min-height: 50px;
  padding: 20px;
  padding-left: 0px;
  font-size: 19px;
  font-weight: 400;
  /* padding-bottom: 35px; */
  width: auto;
  float: left;
}

.progressBar .right{
  /* min-height: 100px; */
}

.progressBar2 .right{
  /* min-height: 100px; */
  
}
.barTitle{
  color: var(--darkText4);
}

.progressBar .right .blue{
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  display: inline-block;
}

.progressBar2 .right .blue{
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  display: inline-block;
}


.centerBlue{
  display: inline-block;
  color: rgba(43, 97, 209, 1);
  padding-left: 20%;
  font-size: 15px;
  font-weight:bold;
  padding-bottom: 5px;
}

.blue{
  color: #2B61D1;
}

.hidden{
  color: var(--darkText4);
}

.myProgress {
  /* margin-left: 23.8%; */
  width: auto;
  background-color: rgba(43, 97, 209, 0.5);
  border-radius: 25px;
}

.myBar {
  height: 10px;
  background: rgba(43, 97, 209, 1);
  border-radius: 25px;
}

.myBar2 {
  width: 42%;
  height: 10px;
  background: rgba(43, 97, 209, 1);
  border-radius: 25px;
}

.statCard{
  box-shadow: var(--boxShadow);
  border-radius: 15px;
  width: 100%;
  height: 250px;
  text-align: center;
  /* padding-top: 40px; */
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--CardBg);
}

.statImg{
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

.statImgContainer{
  width: 50px;
  height: 50px;
  text-align: center;
  box-shadow: var(--boxShadow);
  margin: 0 auto;
  border-radius: 100%;
}

.smallBlackText{
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  color: var(--CardText);
}

.statCard .subTitle02{
  text-align: center;
  color: rgba(43, 97, 209, 1);
  font-size: 20px;
}

.smallBottomText{
  color:rgba(43, 97, 209, 0.4);
  font-size: 12px;
  padding: 0%;
  margin: 0%;
}

.section4 h3{
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: var(--CardText);
  font-size: 2.7em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.section4 h3 span{
  color: #2B61D1;
}


.section4 p{
  margin-top: 0em;
  /* margin-bottom: 60px !important; */
  padding-top: 0em;
  font-family: 'Open Sans', sans-serif;
  color: var(--darkText4);
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  
}

.img3{
  width: 100%;
  height: 600px;
  background: var(--multiRing);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.text3{
  display: flex;
  align-items: center;
  height: 100%;
}
.centerImg img{
  width: 100%;
  height: auto;
}

p.pop{
  margin-top: 0em;
  /* margin-bottom: 60px !important; */
  padding-top: 0em;
  font-family: 'Open Sans', sans-serif;
  color: var(--darkText4);
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
.ecoImg {
  width: 100%;
  height: 70em;
  background: var(--ecoImg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  
}

.ecoImg {
  margin: auto;
  text-align: center;
}

.Exchangecard{
  box-shadow: var(--boxShadow);
  border-radius: 15px;
  height: 130px;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  /* display: inline-block; */
  background: var(--CardBg);
  
}

.Exchangecard .circle{
  float: left;
  /* margin-left:20px; */
  display: block;
 border-radius: 100%;
 padding: 10px;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
  text-align: center;
  margin-right: 5px;

 
}

.circle img{
  padding-top: 5px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.extext{
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  color: var(--darkText4);  
}

.extext a{
  font-weight: normal;
}

.Exchangecard .btn{
  padding:4px 20px;
  float: right;
}

.autoHeight{
 width: auto;
  height: auto ;
}

.rect .autoHeight{
  margin-top: 0%;
  padding-top: 0px !important;
  /* margin-left: 5px !important; */
  height: auto !important;
}

.rect{
  float: left;
  margin-left:0px;
  display: block;
  width: 100px;
  padding: 10px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 12.765512466430664px 12.765512466430664px 21.275854110717773px 1.7020683288574219px rgba(43, 97, 209, 0.1);
  text-align: center;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.rect img{
  /* margin-top: 15px; */
  width: 100%;
  height: 50px;
  object-fit: contain;
}

.btn10{
  /* border: 2px solid var(--text-blue); */
  padding: 4px 10px;
  width: auto;
  font-size: 14px;
  /* border-radius: 10px; */
  /* color: var(--text-blue) !important; */
  text-decoration: none;
 
  /* margin-right: 15px; */
  margin-left: 0px;
  text-align: center;
  background: transparent;
  border:var(--darkText4) 2px solid;
  border-radius: 100px;
  color: var(--darkText4);
  font-size: 14px;
  transition: all .2s ease-in-out;
float: right;

}
.btn10:hover{
  color: rgba(152, 167, 185);
  transform: scale(1.1); 
}
.section5{
  margin-bottom: 100px;
}






































@media all and (min-width: 992px){
  .section1 p{
    width: 80%;
  }
  .section2 p{
    width: 90%;
  }
  .section4 p{
    width: 90%;
  }
  p.exchanges1{
    width: 70%;
  }

}





@media (max-width: 991.98px) {
  .section1 h1{
    font-size: 3em;
    line-height: 1;
}

.section1 p{
    font-size: 1.0em;
    line-height: 1.6;
    /* margin-bottom: 50px !important; */
}


.headerInfo{
  width: auto;
}

.infoCard{
  width: auto;
  /* float: left; */
  /* height: 100px; */
  margin: 10px;
  padding-left: 20px;
}

.infoCardMiddle{
  width: auto;
  /* height: 100px; */
  padding-left: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin: 10px;
}

.iconCircle{
  float: left;
  box-shadow: 11.244214057922363px 11.244214057922363px 18.7403564453125px 1.4992284774780273px rgba(43, 97, 209, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-top: 10px;
}

.spacer{
  /* height: 700px; */
}

.iconCircle img{
  padding-top: 5%;
  height: 60px;
  width: 30px;
}

.iconCircle .blue{
  font-weight: bold;
}

.infoCardText{
  margin-top: 15px;
  margin-left: 100px;
  font-weight: bold;
  
}

.infoCardText .subText{
  margin-top: 3px;
  /* color: rgba(48, 59, 82, 1); */
  font-size: 10px;
  font-weight: 500;
  padding: 0%;
}

.blueLine{
  margin-top: 7px;
  width: 45%;
  border-bottom: rgba(43, 97, 209, 1) solid 3px;
}

.section2 h3{
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  /* color: #313457; */
  font-size: 2em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.subTitle{
  /* padding-left: 40px; */
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  /* color: #313457; */
  font-size: 1.2em;
  line-height: 1.7em;
  text-align: left;
  font-weight: bold;
  float: left;

}
.subTitle2{
  text-align: right;
  /* margin: 0.1em auto 0em 0px; */
  /* margin-top: -45px; */
  font-size: 1em;
  line-height: 1.4em;
  font-weight: bold;
  /* color: rgba(48, 59, 82, 1); */
  float: right;
}

.tokenomics{
  padding: 20px;
   width: 100%;
}

.paddingRight{
  padding-right: 20px;
}

.tokenHead{
  /* width: 100%;
  height: 80px; */
}

.progressBar .left{
  
  /* padding: 20px; */
  font-size: 16px;
  font-weight: 400;
  width: auto;
  float: left;
  margin-top: 0px !important;
}

.progressBar2 .left{
 
  /* padding: 20px; */
  font-size: 16px;
  font-weight: 400;
  /* padding-bottom: 35px; */
  width: auto;
  float: left;
}

.progressBar .right{
  /* min-height: 100px; */
}

.progressBar2 .right{
  /* min-height: 100px; */
  
}

.progressBar .right .blue{
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  display: inline-block;
}

.progressBar2 .right .blue{
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  display: inline-block;
}


.centerBlue{
  display: inline-block;
  color: rgba(43, 97, 209, 1);
  padding-left: 20%;
  font-size: 13px;
  font-weight:bold;
  padding-bottom: 5px;
}

.hidden{
  color: white;
}

.myProgress {
  /* margin-left: 23.8%; */
  width: auto;
  background-color: rgba(43, 97, 209, 0.5);
  border-radius: 25px;
}

.myBar {
  height: 7px;
  background: rgba(43, 97, 209, 1);
  border-radius: 25px;
}

.myBar2 {
  height: 7px;
  background: rgba(43, 97, 209, 1);
  border-radius: 25px;
}

.statCard{
  box-shadow: 3.988372564315796px 3.988372564315796px 19.941864013671875px 1.994186282157898px rgba(43, 97, 209, 0.05);
  border-radius: 15px;
  width: 100%;
  height: 250px;
  text-align: center;
  /* padding-top: 40px; */
  /* margin: 20px; */
  margin: auto;
}

.statImg{
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

.statImgContainer{
  width: 40px;
  height: 40px;
  text-align: center;
  box-shadow: 11.965118408203125px 11.965118408203125px 19.941864013671875px 1.5953490734100342px rgba(43, 97, 209, 0.1);
  margin: 0 auto;
  border-radius: 100%;
}

.smallBlackText{
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.statCard .subTitle02{
  text-align: center;
  color: rgba(43, 97, 209, 1);
  font-size: 19px;
}

.smallBottomText{
  color:rgba(43, 97, 209, 0.4);
  font-size: 12px;
  padding: 0%;
  margin: 0%;
}

.section4 h3{
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  /* color: #313457; */
  font-size: 2em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

p.pop{
  margin-top: 0em;
  /* margin-bottom: 60px !important; */
  padding-top: 0em;
  font-family: 'Open Sans', sans-serif;
  /* color: rgba(49, 52, 87, 0.8); */
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
.extext{
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  
}
.headerImg{
  height: 300px;


}
.ecoImg{
  height: 50em;
}


}






@media (max-width: 767.98px) {

  .section1 h1{
    font-size: 2.0em;
    line-height: 1.3;
}

.section1 p{
    font-size: 0.9em;
    line-height: 1.6;
    /* margin-bottom: 50px !important; */
}

.section4 p{
  font-size: 0.9em;
  line-height: 1.6;
  /* margin-bottom: 50px !important; */
}
.headerImg{
  margin-top: 30px;
  width: 100%;
 height: 400px;
 
}
.section2 p{
  font-size: 0.9em;
  line-height: 1.6;
  /* margin-bottom: 50px !important; */
}
.section2 h3{
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  /* color: #313457; */
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}
.section4 h3{
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  /* color: #313457; */
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}
.Exchangecard{
  margin: 20px auto;
}

 }






@media (max-width: 575.98px){
  .section1 h1{
    font-size: 1.7em;
    line-height: 1.3;
}
.btn1,.btn2{
  width: 130px;
  padding: 10px 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
}
.buttons{
  text-align: center;
}

.headerInfo{
  width: auto;
  height: 100%;
  

}

.infoCard{
  width: 100%;
  /* float: left; */
  /* height: 100px; */


}

.infoCardMiddle{
  width: 100%;
  /* height: 100px; */
  /* float: left; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */

}

.iconCircle{
  float: left;
  box-shadow: 11.244214057922363px 11.244214057922363px 18.7403564453125px 1.4992284774780273px rgba(43, 97, 209, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-top: 20px;
}

.spacer{
  /* height: 700px; */
}

.iconCircle img{
  padding-top: 5%;
  height: 50px;
  width: 20px;
}

.iconCircle .blue{
  font-weight: bold;
}

.infoCardText{
  margin-top: 15px;
  margin-left: 70px;
  font-weight: bold;
  font-size: 14px;
}

.infoCardText .subText{
  margin-top: 3px;
  /* color: rgba(48, 59, 82, 1); */
  font-size: 10px;
  font-weight: 400;
  padding: 0%;
}

.blueLine{
  margin-top: 7px;
  width: 45%;
  border-bottom: rgba(43, 97, 209, 1) solid 3px;
}

.subTitle{
  /* padding-left: 40px; */
  margin: 0.1em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  /* color: #313457; */
  font-size: 0.6em;
  line-height: 1.7em;
  text-align: left;
  font-weight: bold;
  float: left;

}
.subTitle2{
  text-align: right;
  /* margin: 0.1em auto 0em 0px; */
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.6em;
  line-height: 1.4em;
  font-weight: bold;
  /* color: rgba(48, 59, 82, 1); */
  float: right;

}

.tokenomics{
  padding: 20px;
   width: 100%;
}

.paddingRight{
  padding-right: 5px;
}

.tokenHead{
  /* width: 100%;
  height: 80px; */
}

.progressBar .left{
  
  /* padding: 20px; */
  font-size: 0.7em;
  font-weight: 400;
  width: auto;
  float: left;
  margin-top: 0px !important;
}

.progressBar2 .left{
 
  /* padding: 20px; */
  font-size: 0.7em;
  font-weight: 400;
  /* padding-bottom: 35px; */
  width: auto;
  float: left;
}

.progressBar .right{
  /* min-height: 100px; */
}

.progressBar2 .right{
  /* min-height: 100px; */
  
}

.progressBar .right .blue{
  font-size: 11px;
  font-weight: 500;
  padding: 0px;
  display: inline-block;
}

.progressBar2 .right .blue{
  font-size: 11px;
  font-weight: 500;
  padding: 0px;
  display: inline-block;
}


.centerBlue{
  display: inline-block;
  color: rgba(43, 97, 209, 1);
  padding-left: 20%;
  font-size: 11px;
  font-weight:bold;
  padding-bottom: 5px;
}

.hidden{
  color: white;
}

.myProgress {
  /* margin-left: 23.8%; */
  width: auto;
  background-color: rgba(43, 97, 209, 0.5);
  border-radius: 25px;
}

.myBar {
  height: 5px;
  background: rgba(43, 97, 209, 1);
  border-radius: 25px;
}

.myBar2 {
 
  height: 5px;
  background: rgba(43, 97, 209, 1);
  border-radius: 25px;
}
.extext{
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 25px;
  
}

.rect{
  margin-top: 18px;
}
.ecoImg{
  height: 30em;
  margin-top: -100px;
}
}








