.section1{
    height: 80vh;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.section1 img{
    width: auto!important;
    height: 100px;
}

.section1 h1{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.5em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.8em;
  
  }
  
  .section1 p{
      margin-top: 0em;
      /* margin-bottom: 60px !important; */
      padding-top: 0em;
      font-family: 'Open Sans', sans-serif;
      color: rgba(49, 52, 87, 0.8);
      font-size: 1em;
      line-height: 1.5;
      font-weight: 400;
      text-align: left;
  }

  .btns{
    margin-top: 20px;
}

.btns a{
    background-color: white !important;
    color: #4c80ee !important;
    margin: 10px;
    align-items: center;
    border-radius: 0.4em;
    background-color: #fff;
    background-image: none;
    box-shadow: 6px 6px 14px 1px rgba(37, 44, 97, 0.14);
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    line-height: 1px;
    font-weight: 600;
    text-align: left;
   padding: 10px 20px;
 
  
}

.section2 h2{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 3.2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.8em;
  
  }
  
  .section2 p{
      margin-top: 0em;
      /* margin-bottom: 60px !important; */
      padding-top: 0em;
      font-family: 'Open Sans', sans-serif;
      color: rgba(49, 52, 87, 0.8);
      font-size: 1em;
      line-height: 1.5;
      font-weight: 400;
      text-align: left;
  }

  .section2 h3{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.9em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.8em;
  
  }

  .card1{
    position: relative;
     margin: 1em 0.5em 1em 1em;
     /* padding-top: 0.99em;
     padding-bottom: 0.99em; */
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #fff;
     box-shadow: 0 3px 20px 3px rgba(37, 44, 97, 0.09);
     border-radius: 9px;
     height: 100%;
 }
 
 .img1{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .img1 img{
     height: 60px;
     width: auto;
 }
 
 .card1 p{
     margin: 1em auto;
     font-family: 'Open Sans', sans-serif;
     color: rgba(49, 52, 87, 0.6);
     font-size: 1em;
     line-height: 0.5;
     text-align: center;
 }
 
 .card1 h3{
     margin-top: 0em;
     margin-bottom: 0.5em;
     font-family: Montserrat, sans-serif;
     font-size: 1.2em;
     line-height: 1.2em;
     text-align: center;
     font-weight: 700;
   
 }
 .section3 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.section3 h3{
  margin: 0.8em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: #313457;
  font-size: 1.9em;
  line-height: 1.1em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.8em;

}

.section3 p span{
    background-image: radial-gradient(circle farthest-side at 100% 50%, #f855ba, #5d91ff);
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card2{
    position: relative;
     margin: 1em 0.5em 1em 1em;
     /* padding-top: 0.99em;
     padding-bottom: 0.99em; */
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #fff;
     box-shadow: 0 3px 20px 3px rgba(37, 44, 97, 0.09);
     border-radius: 9px;
     height: 100%;
 }

 .card2 p{
    margin: 1em auto;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.6);
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 0.5;
    text-align: center;
    margin-bottom: 30px;
   
}

.card2 h5{
    margin: 1em auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    /* line-height: 0.5; */
    text-align: center;
    margin-bottom: 30px;
    background-image: radial-gradient(circle farthest-side at 100% 50%, #f855ba, #5d91ff);
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card2 h5.h5Blue{
    color: #4c80ee !important;
    background-image: none !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #4c80ee ;
}

.card3{
    position: relative;
    margin: 1em 0.5em 1em 1em;
    /* padding-top: 0.99em;
    padding-bottom: 0.99em; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c80ee;
    box-shadow: 0 3px 20px 3px rgba(37, 44, 97, 0.09);
    border-radius: 9px;
    height: 200px;
}

.card3 h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    /* line-height: 0.5; */
    text-align: center;
}

.section4 h3{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.9em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.8em;
  
  }
  .section4 h6{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1.2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.8em;
  
  }

  .section4 ul li{
    margin: 1.3em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1.2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1.3em;
  }

  .section4 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.section4{
    margin-bottom: 100px;
}














  @media all and (min-width: 992px){
    /* .section1 .header{
      width: 85%;
      margin: auto;
    } */
  
    .section1 p{
      width: 80%;
    }
    .section4 p{
        width: 60%;
      }
    .section2 p{
        /* width: 80%; */
      }

    .btns a{
        display: inline-block;
        width: 200px;
        padding: 20px;
        text-align: center;
      }

      .videoEmbed{
        width: 80%;
      }

}

@media (max-width: 991.98px) {
    .section1 img{
        width: auto!important;
        height: 80px;
    }
    .section1 h1{
        font-size: 3em;
        line-height: 1;
    }
 
    .section1 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .section2 h2{
        font-size: 3em;
        line-height: 1;
    }
 
    .section2 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .section2 h3{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.7em;
    }
    .section3 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .section3 h3{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.7em;
    }

    .section4 h3{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.7em;
    }
    .card2 p{
        margin: 1em auto;
        font-family: 'Open Sans', sans-serif;
        color: rgba(49, 52, 87, 0.6);
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 0.5;
        text-align: center;
        margin-bottom: 25px;
       
    }
    
    .card2 h5{
        margin: 1em auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        font-weight: 800;
        /* line-height: 0.5; */
        text-align: center;
        margin-bottom: 25px;
    
        background-image: radial-gradient(circle farthest-side at 100% 50%, #f855ba, #5d91ff);
        font-weight: 700;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .section4 h6{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: rgba(49, 52, 87, 0.8);
        font-size: 1.1em;
        line-height: 1.1em;
        text-align: left;
        font-weight: bold;
        margin-bottom: 0.8em;
      
      }
      .section4 ul li{
        margin: 1.3em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: rgba(49, 52, 87, 0.8);
        font-size: 1.1em;
        line-height: 1.1em;
        text-align: left;
        font-weight: 500;
        margin-bottom: 1.3em;
      }
      .section4 p{
        font-size: 1.0em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
}

@media (max-width: 767.98px) { 
    .section1 img{
        width: auto!important;
        height: 40px;
    }
    .section1 h1{
        font-size: 2.0em;
        line-height: 1.3;
    }

    .section1 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .section2 h2{
        font-size: 2.0em;
        line-height: 1.3;
    }

    .section2 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
    .btns a{
        display: block;
        text-align: center;
        padding: 20px;
    }
    .section2 h3{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.5em;
    }
    .section3 h3{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.5em;
    }
    .section4 h3{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1.5em;
    }
    .section3 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }

    .card2,.card3{
        height: 150px;
    }
    .section4 h6{
        margin: 0.8em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: rgba(49, 52, 87, 0.8);
        font-size: 1em;
        line-height: 1em;
        text-align: left;
        font-weight: bold;
        margin-bottom: 0.8em;
      
      }
      .section4 ul li{
        margin: 1.3em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: rgba(49, 52, 87, 0.8);
        font-size: 1em;
        line-height: 1.1em;
        text-align: left;
        font-weight: 500;
        margin-bottom: 1.3em;
      }
      .section4 p{
        font-size: 0.9em;
        line-height: 1.6;
        /* margin-bottom: 50px !important; */
    }
}

@media (max-width: 575.98px){
    .section1 h1{
        font-size: 1.7em;
        line-height: 1.3;
    }
    .section2 h2{
        font-size: 1.7em;
        line-height: 1.3;
    }
    .card2 p{
        margin: 1em auto;
        font-family: 'Open Sans', sans-serif;
        color: rgba(49, 52, 87, 0.6);
        font-size: 0.75em;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 0.5;
        text-align: center;
        margin-bottom: 25px;
       
    }
    
    .card2 h5{
        margin: 1em auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        font-weight: 800;
        /* line-height: 0.5; */
        text-align: center;
        margin-bottom: 25px;
    
        background-image: radial-gradient(circle farthest-side at 100% 50%, #f855ba, #5d91ff);
        font-weight: 700;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}