
.team{
    margin-top: 150px;
    padding: 0px 20px;
}
.team h4{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.7em;
    line-height: 1.1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.team h5{
    margin-top: 0em;
    margin-bottom: 100px !important;
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(4, 4, 11, 0.6);
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
  
}
.team h6{
    font-family: 'Open Sans', sans-serif;
    color: #4c80ee;
    font-size: 0.95em;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}


@media all and (min-width: 992px){
    .team h5{
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 991.98px) {
    .team h4{
        font-size: 2em;
        line-height: 1;
    }
    .team h5{
        font-size: 1.0em;
        line-height: 1.6;
    }
}

@media (max-width: 767.98px) { 
    .team h4{
        font-size: 1.5em;
        line-height: 1.5;
    }
    .team h5{
        font-size: 0.9em;
        line-height: 1.6;
        margin-bottom: 50px;
    }
    .team{
        margin-top: 150px;
        padding: 0px 0px;
    }
}

@media (max-width: 575.98px){}