.section1 h2{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 3.2em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
  
  }
  
  .section1 p{
      margin-top: 0em;
      /* margin-bottom: 60px !important; */
      padding-top: 0em;
      font-family: 'Open Sans', sans-serif;
      color: rgba(49, 52, 87, 0.8);
      font-size: 1em;
      line-height: 1.5;
      font-weight: 400;
      text-align: left;
  }

  .section1{
   margin-top: 100px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.section2 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.section2 h3{
  margin: 0.8em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: #313457;
  font-size: 1.5em;
  line-height: 1.7em;
  text-align: left;
  font-weight: bold;
}

.table td{
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.table th{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    font-weight: bold;
}



.section3 h3{
  margin: 0.8em auto 0em 0px;
  font-family: Montserrat, sans-serif;
  color: #313457;
  font-size: 1.5em;
  line-height: 1.7em;
  text-align: left;
  font-weight: bold;


}
.section3 h4{
    margin: 0.8em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: left;
    font-weight: bold;
  
  
  }
.section3 p{
    margin-top: 0em;
    /* margin-bottom: 60px !important; */
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}
.section3 ul{
    list-style-type:circle;
}
.section3 ul li{
    font-family: 'Open Sans', sans-serif;
    color: rgba(49, 52, 87, 0.8);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    padding: 13px;
}

.section3 h6{
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
}

.fingerPrint{
    border: 1px solid rgba(49, 52, 87, 0.11);
    padding: 30px;
}

.section3{
    margin-bottom: 100px;
}
























  @media all and (min-width: 992px){

    .section1 p{
        width: 60%;
      }
      .section2 p{
        width: 60%;
      }
     

      .table{
        width: 70%;
      }

      .section3 ul li{
        width: 60%;
      }
      .section3 h6{
        width: 60%;
      }
      .section3 p{
        width: 60%;
      }
    }

    @media (max-width: 991.98px) {
        .section1 h2{
            font-size: 3em;
            line-height: 1;
        }
     
        .section1 p{
            font-size: 1.0em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section2 p{
            font-size: 1.0em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section2 h3{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.4em;
        }

       
        .section3 h3{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.4em;
        }
        .section3 h4{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.2em;
            line-height: 1.7em;
            text-align: left;
            font-weight: bold;
          
          
          }

        .table td{
            font-family: 'Open Sans', sans-serif;
            color: rgba(49, 52, 87, 0.8);
            font-size: 0.9em;
            line-height: 1.5;
            font-weight: 400;
            text-align: left;
        }
        
        .table th{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 0.9em;
            line-height: 1.5em;
            text-align: left;
            font-weight: bold;
        }
        .section3 p{
            font-size: 1.0em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section3 ul li{
            font-size: 1.0em;
            line-height: 1.6;
        }
        .section3 h6{
            font-size: 0.7em;
            line-height: 1.5;
            font-weight: 400;
        }
        
    }

    @media (max-width: 767.98px) { 

        .section1 h2{
            font-size: 2.0em;
            line-height: 1.3;
        }
    
        .section1 p{
            font-size: 0.9em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section2 h3{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.3em;
        }
        .section2 p{
            font-size: 0.9em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .table td{
            font-family: 'Open Sans', sans-serif;
            color: rgba(49, 52, 87, 0.8);
            font-size: 0.8em;
            line-height: 1.5;
            font-weight: 400;
            text-align: left;
        }
        
        .table th{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 0.8em;
            line-height: 1.5em;
            text-align: left;
            font-weight: bold;
        }
        .section3 h3{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.3em;
        }
        .section3 h4{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.1em;
            line-height: 1.7em;
            text-align: left;
            font-weight: bold;
          
          
          }
        .section3 p{
            font-size: 0.9em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section3 ul li{
            font-size: 0.9em;
            line-height: 1.6;
        }
        .section3 h6{
            font-size: 0.6em;
            line-height: 1.5;
            font-weight: 400;
        }
    }

    @media (max-width: 575.98px){

        .section1 h2{
            font-size: 1.7em;
            line-height: 1.3;
        }
        .section1 p{
            font-size: 0.8em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section2 h3{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.2em;
        }
        .section2 p{
            font-size: 0.8em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .table td{
            font-family: 'Open Sans', sans-serif;
            color: rgba(49, 52, 87, 0.8);
            font-size: 0.7em;
            line-height: 1.5;
            font-weight: 400;
            text-align: left;
        }
        
        .table th{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 0.7em;
            line-height: 1.5em;
            text-align: left;
            font-weight: bold;
        }
        .section3 h3{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.2em;
        }
        .section3 h4{
            margin: 0.8em auto 0em 0px;
            font-family: Montserrat, sans-serif;
            color: #313457;
            font-size: 1.05em;
            line-height: 1.7em;
            text-align: left;
            font-weight: bold;
          
          
          }
        .section3 p{
            font-size: 0.8em;
            line-height: 1.6;
            /* margin-bottom: 50px !important; */
        }
        .section3 ul li{
            font-size: 0.8em;
            line-height: 1.6;
        }
        .section3 h6{
            font-size: 0.4em;
            line-height: 1.5;
            font-weight: 400;
        }
        .fingerPrint{
            border: 1px solid rgba(49, 52, 87, 0.11);
            padding: 10px;
        }
    }