
.section1 h4{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 2.7em;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
.section1 h5{
    margin-top: 0em;
    margin-bottom: 20px !important;
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(4, 4, 11, 0.6);
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
  
}

.section1{
    margin-top: 100px;
   
}

.section2 h1{
         font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        /* identical to box height, or 133% */


        /* Main white */

        color: #D0D4DE;
        /* margin-bottom: 30px; */
}

.link1{
    background: white;
    box-shadow: 7.74807px 7.74807px 18.7404px 4.87404px rgba(43, 97, 209, 0.05);
    font-size: 12px;
    text-decoration: none;
    color: rgba(4, 4, 11, 0.6);
    padding: 10px 30px;
    margin: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.section1 h3{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1.3em;
    line-height: 1.1em;
    text-align: left;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(49, 52, 87, 0.22);;
    padding-bottom: 10px;
}

.section1 p{
    margin: 0.2em auto 0em 0px;
    font-family: Montserrat, sans-serif;
    color: #313457;
    font-size: 1em;
    line-height: 1.1em;
    text-align: left;
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 10px;
}



















@media all and (min-width: 992px){
   
}

@media (max-width: 991.98px) {
    .section1 h1{
        font-size: 35px;
        line-height: 48px;
    }
    .section2 h1{
        font-size: 35px;
        line-height: 48px;
    }
    .section1 h4{
        font-size: 2em;
        line-height: 1;
    }
    .section1 h5{
        font-size: 1.0em;
        line-height: 1.6;
      
    }
  
}

@media (max-width: 767.98px) {
   
    .section1 h4{
        font-size: 1.5em;
        line-height: 1.5;
    }
    .section1 h5{
        font-size: 0.9em;
        line-height: 1.6;
       
    }
}

@media (max-width: 575.98px){
  
    .section1 h1{
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-align: left;
    }
    .section2 h1{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        margin-bottom: 0px;
        padding-left: 20px;
    }
    .section1 h6{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        margin-top: 10px;
        /* Main white */
        text-align: left;
        color: #D0D4DE;

    }
    /* .section1{
        margin-bottom: 50px;
        height: 510px;
        
    } */
    .link1{
        background: white;
        box-shadow: 7.74807px 7.74807px 18.7404px 4.87404px rgba(43, 97, 209, 0.05);
        font-size: 12px;
        text-decoration: none;
        color: #313457;
        padding: 10px 20px;
        margin: 5px;
    }
    .section1 h3{
        margin: 0.2em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 1em;
        line-height: 1.1em;
        text-align: left;
        font-weight: 400;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(49, 52, 87, 0.22);;
        padding-bottom: 10px;
    }
    
    .section1 p{
        margin: 0.2em auto 0em 0px;
        font-family: Montserrat, sans-serif;
        color: #313457;
        font-size: 0.7em;
        line-height: 1.1em;
        text-align: left;
        font-weight: 400;
        margin-bottom: 10px;
        padding-top: 10px;
    }

  
}