.section1{
    margin-top: -90px;
    padding-top: 200px;
    background-image:url("../../public/images/article/article-header.svg");
    background-color: var(--headerBackground); 
    background-blend-mode: overlay; 
    height:100vh;
    width:100%;
    background-size:cover;
    background-position:center;
  }

  .section1 .header{
    background: linear-gradient(93.96deg, rgba(102, 102, 102, 0.85) 2.79%, rgba(0, 0, 0, 0.85) 74.16%), linear-gradient(96.17deg, rgba(102, 102, 102, 0) 3.16%, rgba(0, 0, 0, 0.2) 97.25%);
    box-shadow: 20px 40px 60px 0px #000000;
    /* box-shadow: 0px 0px 4px 0px #00000040; */
    height: auto;
    padding: 40px;
  }

  .section1 .header h3{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: 50.02px;
    text-align: right;
    color: #fff;

  }

  .section1 .header p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.57px;
    text-align: right;
    color: #fff;
  }

  .section2{
    margin-top: 100px;
  }



  .section2 h3{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 42.58px;
    text-align: center;
    color: var(--CardText);
  }

  .section2 h5{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 38.58px;
    text-align: center;
    color: #1B63EF;
  }

  .section2 h5 img{
    height: 40px;
    width: fit-content;
  }

  .card1{
    box-shadow: var(--box-shadow3);
    width: 100%;
    height: 329px;
    border-radius: 25px 3px 25px 3px;
    opacity: 0px;
    padding: 40px 20px;
    background: url('../../public/images/article/card1Bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    position: relative;
  }
  .card1 .logo{
    width: fit-content;
    float: right;
  }
 

  .card1 .cardText{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card1 .logo img{
    width: 100%;
    height: 30px;
  }

  .card2{
    box-shadow: var(--box-shadow3);
    width: 100%;
    height: 329px;
    border-radius: 25px 3px 25px 3px;
    opacity: 0px;
    padding: 40px 20px;
    background: url('../../public/images/article/card2Bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    position: relative;
  }
  .card2 .logo{
    width: fit-content;
    float: right;
  }
 

  .card2 .cardText{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card2 .logo img{
    width: 100%;
    height: 30px;
  }

  .card3{
    box-shadow: var(--box-shadow3);
    width: 100%;
    height: 329px;
    border-radius: 25px 3px 25px 3px;
    opacity: 0px;
    padding: 40px 20px;
    background: url('../../public/images/article/card3Bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    position: relative;
  }
  .card3 .logo{
    width: fit-content;
    float: right;
  }
 

  .card3 .cardText{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card3 .logo img{
    width: 100%;
    height: 30px;
  }

  .card4{
    box-shadow: var(--box-shadow3);
    width: 100%;
    height: 329px;
    border-radius: 25px 3px 25px 3px;
    opacity: 0px;
    padding: 40px 20px;
    background: url('../../public/images/article/card2Bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    position: relative;
  }
  .card4 .logo{
    width: fit-content;
    float: right;
  }
 

  .card4 .cardText{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card4 .logo img{
    width: 100%;
    height: 30px;
  }

  .card5{
    box-shadow: var(--box-shadow3);
    width: 100%;
    height: 329px;
    border-radius: 25px 3px 25px 3px;
    opacity: 0px;
    padding: 40px 20px;
    background: url('../../public/images/article/card4Bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    position: relative;
  }
  .card5 .logo{
    width: fit-content;
    float: right;
  }
 

  .card5 .cardText{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card5 .logo img{
    width: 100%;
    height: 30px;
  }

  .card6{
    box-shadow: var(--box-shadow3);
    width: 100%;
    height: 329px;
    border-radius: 25px 3px 25px 3px;
    opacity: 0px;
    padding: 40px 20px;
    background: url('../../public/images/article/card2Bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    position: relative;
  }
  .card6 .logo{
    width: fit-content;
    float: right;
  }
 

  .card6 .cardText{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card6 .logo img{
    width: 100%;
    height: 30px;
  }

  
  .cardText p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

  .section3{
    margin-top: 100px;
  }

.banner1{
    background:  url('../../public//images//article/Vector.svg') no-repeat center/contain;
    background-color: #0B0D12;
    background-size: auto 200px;
    height: 400px;
    
}
.text1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.text1 p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.82px;
    text-align: left;
    color: #fff;
}

.text1 h6{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.13px;
    text-align: left;
    color: #fff;
}
.banner2{
    background:  url('../../public/images/article/vector2.svg') no-repeat center/cover;
    /* background-color: #0B0D12; */
    height: 400px;
    position: relative;
}

.text2{
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    float: right;
   
}

.text2 h5{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: 53.14px;
    text-align: right;
    color: #fff;
    padding-right: 50px;
}



.section4{
    margin-top: 100px;
}
.section5{
    margin-top: 100px;
}

.banner3{
    background: url('../../public/images/article/banner3.svg');
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow3);
    height: 374px;
    border-radius: 30px 3px 30px 3px;
    opacity: 0px;
    /* padding: 30px; */
    position: relative;
}
.section4 .text5 {
    position: absolute;
    bottom: 0;
}

.section4 .text5 h5{
    font-family: Montserrat;
    font-size: 31px;
    font-weight: 600;
    line-height: 41.98px;
    text-align: left;
    color: #fff;
    padding: 30px;
}
.text6 h6{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: var(--CardText);

}

.text6 p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.82px;
    text-align: left;
    color: #919BAF;

}

.text6 a{
    border-radius: 20px 3px 20px 3px;
    opacity: 0px;
    background: #1B63EF;
    color: #fff !important;
    display: block;
    width: 80%;
    height: 40px;
    text-align: center;
    margin: auto;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 29.05px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section4 h4{
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 600;
    line-height: 75.58px;
    text-align: center;
    color: var(--CardText);

}

.section4 h4 span{
    color: #1B63EF;
}
.swipers .card1{
    /* box-shadow: none !important; */
}

.section6{
  margin-top: 100px;
}

.section5{
  background: url('../../public/images/article/banner4.svg');
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.banner4{
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.section5 p{
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  line-height: 36.57px;
  text-align: left;
  color: #ffffff;
}
.section5 h6{
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
  line-height: 54.86px;
  text-align: left;
  color: #fff;
}

.section7{
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner5{
  box-shadow: 10px 15px 10px 0px #000000BF;

  
  height: 100%;
  border-radius: 25px 3px 25px 3px;
  opacity: 0px;
  background: linear-gradient(90deg, #0E121D 0%, #252D41 100%);
  padding: 40px;
}
.banner5Text{
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.banner5 h5{
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 36.57px;
  text-align: left;
  color: #fff;
}

.banner5 p{
  font-family: Montserrat;
font-size: 17px;
font-weight: 500;
line-height: 23.16px;
text-align: left;
color: #919BAF;
}

.banner5 h6{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.26px;
  text-align: left;
  color: #fff;
}

.banner5 a{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.26px;
  text-align: left;
  color: #1B63EF !important;

}

.banner5Bg{
  height: 100%;
  width: 100%;
  background: url('../../public/images/article/banner5Bg.svg');
  background-size: cover;
  background-position: center;
  /* box-shadow: 10px 15px 20px 0px #000000BF; */
  border-radius: 25px 3px 25px 3px;
}

.section7{
  text-align: center;
}

.form{
  text-align: center;

}
.form img{
  width: 100%;
  height: 70px;
}
.form h5{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 40.54px;
  text-align: center;
  margin-top: 20px;
  color: var(--newsLetter);
}

.newsletterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.newsletterForm {
  width: 100%;
  max-width: 550px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.newsletterInput {
  width: 100%;
  padding: 10px 120px 10px 20px; /* Extra padding to accommodate the button */
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 50px;
  outline: none;
  height: 65px;

font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 26.82px;
text-align: left;
/* box-shadow: 0px 4px 15px 0px #00000040; */
box-shadow: 0px 4px 4px 0px #00000040;

}

.newsletterInput:focus {
  border-color: #0B0D12;
}

.subscribeButton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px;
  background-color: #0B0D12;
  color: #fff;
  border: none;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;

  font-family: Montserrat;
font-size: 15px;
font-weight: 400;
line-height: 21.94px;
text-align: center;

}

.subscribeButton:hover {
  background-color: #0B0D12;
}

.subscribeButton:active {
  background-color: #0B0D12;
}

.envelope{
  width: 100%;
  font-weight: bold;
  height: 80px;
  color: var(--newsLetter);
}
.banner7 img{
  height: 100%;
  /* width: 100%; */
  margin-bottom: 50px;
  width: 327px;
  border-radius: 25px 3px 25px 3px;
  opacity: 0px;
  box-shadow: var(--box-shadow3);
}

























  @media all and (min-width: 992px){}

  @media (max-width: 1200px){
    .section1 .header h3{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 40.02px;
        text-align: right;
        
    
      }
    
      .section1 .header p{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 24.57px;
        text-align: right;
        
      }

      .text1 p{
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 400;
        line-height: 24.82px;
        text-align: left;
        
    }
    
    .text1 h6{
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 32.13px;
        text-align: left;
       
    }
    .text2 h5{
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 600;
        line-height: 53.14px;
        text-align: right;
        
    }
    .section4 .text5 h5{
        font-family: Montserrat;
        font-size: 27px;
        font-weight: 600;
        line-height: 35.98px;
        text-align: left;
       
        padding: 30px;
    }
    .text6 h6{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
       
    
    }
    
    .text6 p{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26.82px;
        text-align: left;
       
    
    }
    
    .text6 a{
        border-radius: 20px 3px 20px 3px;
        opacity: 0px;
       
        display: block;
        width: 80%;
        height: 35px;
        text-align: center;
        margin: auto;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 29.05px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .section4 h4{
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 600;
        line-height: 75.58px;
        text-align: center;
    }

    .section5 p{
      font-family: Montserrat;
      font-size: 23px;
      font-weight: 400;
      line-height: 36.57px;
      text-align: left;
      color: #ffffff;
    }
    .section5 h6{
      font-family: Montserrat;
      font-size: 33px;
      font-weight: 600;
      line-height: 54.86px;
      text-align: left;
      color: #fff;
    }
    .banner5 h5{
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 500;
      line-height: 36.57px;
      text-align: left;
      color: #fff;
    }
    
    .banner5 p{
      font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #919BAF;
    }
    
    .banner5 h6{
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 500;
      line-height: 25.26px;
      text-align: left;
      color: #fff;
    }
    
    .banner5 a{
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 500;
      line-height: 25.26px;
      text-align: left;
      color: #1B63EF !important;
    
    }
    .banner7 img{
    
      width: 100%;
      
    }
  }

  @media (max-width: 991.98px) {
    .section1 .header h3{
        font-family: Montserrat;
        font-size: 34px;
        font-weight: 600;
        line-height: 44.02px;
        text-align: right;
        
    
      }
    
      .section1 .header p{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 28.57px;
        text-align: right;
       
      }
      .card1 .logo img{
        width: 100%;
        height: 25px;
      }
      .card2 .logo img{
        width: 100%;
        height: 25px;
      }
      .card3 .logo img{
        width: 100%;
        height: 25px;
      }
      .card4 .logo img{
        width: 100%;
        height: 25px;
      }
      .card5 .logo img{
        width: 100%;
        height: 25px;
      }
      .card6 .logo img{
        width: 100%;
        height: 25px;
      }
      .cardText p{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 18.29px;
        text-align: center;
       
        margin-bottom: 30px;
      }

      .section2 h3{
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 600;
        line-height: 35.58px;
        text-align: center;
        color: var(--CardText);
      }
    
      .section2 h5{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.58px;
        text-align: center;
       
      }
    
      .section2 h5 img{
        height: 30px;
        width: fit-content;
      }

      .text1 p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.82px;
        text-align: left;
        
    }
    
    .text1 h6{
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 500;
        line-height: 31.13px;
        text-align: left;
       
    }
    .text2 h5{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 43.14px;
        text-align: right;
       
        padding-right: 30px;
    }
    .section4 .text5 h5{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 33.98px;
        text-align: left;
       
        padding: 20px;
    }

    .text6 h6{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
       
    
    }
    
    .text6 p{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        line-height: 23.82px;
        text-align: left;
       
    
    }
    
    .text6 a{
        border-radius: 20px 3px 20px 3px;
        opacity: 0px;
      
        display: block;
        width: 80%;
        height: 35px;
        text-align: center;
        margin: auto;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 29.05px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .section4 h4{
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 600;
        line-height: 75.58px;
        text-align: center;
       
    
    }

    .section5 p{
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 26.57px;
      text-align: left;
      color: #ffffff;
    }
    .section5 h6{
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 600;
      line-height: 44.86px;
      text-align: left;
      color: #fff;
    }
    .banner5 h5{
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 500;
      line-height: 36.57px;
      text-align: left;
      color: #fff;
    }
    
    .banner5 p{
      font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #919BAF;
    }
    
    .banner5 h6{
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 500;
      line-height: 25.26px;
      text-align: left;
      color: #fff;
    }
    
    .banner5 a{
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 500;
      line-height: 25.26px;
      text-align: left;
      color: #1B63EF !important;
    
    }

    .form img{
      width: 100%;
      height: 60px;
    }
    .form h5{
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 500;
      line-height: 35.54px;
      text-align: center;
      margin-top: 20px;
    }

    .newsletterInput {
     
      padding: 10px 120px 10px 20px; /* Extra padding to accommodate the button */
     
     
    height: 60px;
    
    
    font-size: 18px;
    font-weight: 400;
    line-height: 23.82px;
    
    }

    .subscribeButton {
      margin: 7px;
      font-size: 14px;
    }
    .banner7 img{
    
      width: 220px;
      
    }
  }

  @media (max-width: 767.98px) { 
    .section1 .header h3{
        font-family: Montserrat;
        font-size: 29px;
        font-weight: 600;
        line-height: 39.02px;
        text-align: right;
       
    
      }
    
      .section1 .header p{
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 500;
        line-height: 25.57px;
        text-align: right;
        
      }
      .card1 .logo img{
        width: 100%;
        height: 20px;
      }
      .card2 .logo img{
        width: 100%;
        height: 20px;
      }
      .card3 .logo img{
        width: 100%;
        height: 20px;
      }
      .card4 .logo img{
        width: 100%;
        height: 20px;
      }
      .card5 .logo img{
        width: 100%;
        height: 20px;
      }
      .card6 .logo img{
        width: 100%;
        height: 20px;
      }
      .cardText p{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.29px;
        text-align: center;
        
        margin-bottom: 30px;
      }
      .card1, .card2, .card3, .card4, .card5, .card6{
        height: 250px;
      }

      .section2 h3{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 34.58px;
        text-align: center;
        color: var(--CardText);
      }
    
      .section2 h5{
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 600;
        line-height: 25.58px;
        text-align: center;
       
      }
    
      .section2 h5 img{
        height: 25px;
        width: fit-content;
      }
      .text1 p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.82px;
        text-align: left;
       
    }
    
    .text1 h6{
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 500;
        line-height: 31.13px;
        text-align: left;
       
    }
    .text2 h5{
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 600;
        line-height:43.14px;
        text-align: right;
       
        padding-right: 30px;
    }
    .section4 .text5 h5{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 33.98px;
        text-align: left;
       
        padding: 20px;
    }

    .text6 h6{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
       
        margin-top: 40px;
    }
    
    .text6 p{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        line-height: 23.82px;
        text-align: left;
       
    
    }
    
    .text6 a{
        border-radius: 20px 3px 20px 3px;
        opacity: 0px;
       
        display: block;
        width: 80%;
        height: 35px;
        text-align: center;
        margin: auto;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 29.05px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .section4 h4{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 75.58px;
        text-align: center;
 
    
    }
    .section5 p{
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 26.57px;
      text-align: left;
      color: #ffffff;
    }
    .section5 h6{
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 600;
      line-height: 44.86px;
      text-align: left;
      color: #fff;
    }

    .banner5 h5{
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 36.57px;
      text-align: left;
      color: #fff;
    }
    
    .banner5 p{
      font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #919BAF;
    }
    
    .banner5 h6{
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 25.26px;
      text-align: left;
      color: #fff;
    }
    
    .banner5 a{
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 25.26px;
      text-align: left;
      color: #1B63EF !important;
    
    }

    .banner5Bg{
      height: 250px;
      width: 100%;
      margin-top: 20px;
    }
    .form img{
      width: 100%;
      height: 60px;
    }
    .form h5{
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 500;
      line-height: 35.54px;
      text-align: center;
      margin-top: 20px;
    }

    .newsletterInput {
     
      padding: 10px 120px 10px 20px; /* Extra padding to accommodate the button */
     
     
    height: 60px;
    
    
    font-size: 18px;
    font-weight: 400;
    line-height: 23.82px;
    
    }

    .subscribeButton {
      margin: 7px;
      font-size: 14px;
    }
    .banner7 img{
    
      width: 100%;
      
    }
   }

  @media (max-width: 575.98px){
    .section1 .header{
        height: auto;
        padding: 30px;
      }

      .section1 .header h3{
        font-family: Montserrat;
        font-size: 29px;
        font-weight: 600;
        line-height: 39.02px;
        text-align: right;
       
    
      }
    
      .section1 .header p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 25.57px;
        text-align: right;
  
      }

      .text1 p{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 23.82px;
        text-align: left;
  
    }
    
    .text1 h6{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 29.13px;
        text-align: left;
 
    }
    
   

    .banner3{
        height: 250px;
    }

    .text6 h6{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
    
        margin-top: 40px;
    }
    
    .text6 p{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 23.82px;
        text-align: left;
    
    
    }
    
    .text6 a{
        border-radius: 20px 3px 20px 3px;
        opacity: 0px;
       
        display: block;
        width: 80%;
        height: 35px;
        text-align: center;
        margin: auto;
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 29.05px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .section5 p{
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 26.57px;
      text-align: left;
      color: #ffffff;
    }
    .section5 h6{
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 600;
      line-height: 44.86px;
      text-align: left;
      color: #fff;
    }

    .form img{
      width: 100%;
      height: 50px;
    }
    .form h5{
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 30.54px;
      text-align: center;
      margin-top: 20px;
    }

    .newsletterInput {
     
      padding: 10px 120px 10px 20px; /* Extra padding to accommodate the button */
     
     
    height: 50px;
    
    
    font-size: 15px;
    font-weight: 400;
    line-height: 23.82px;
    
    }

    .subscribeButton {
      margin: 5px;
      font-size: 13px;
    }
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 920px) 
 
  and (orientation: landscape) { }

  

  @media (max-width: 360px) {
    .section1 .header{
        height: auto;
        padding: 20px;
      }
    .section1 .header h3{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 600;
        line-height: 35.02px;
        text-align: right;
  
    
      }
    
      .section1 .header p{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        line-height: 25.57px;
        text-align: right;
      
      }
      .text2 h5{
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 600;
        line-height:27.14px;
        text-align: right;
    
        padding-right: 20px;
    }
  }

  @media (max-width: 320px) {}

  