.section1{
    height: 90vh;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #070721;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 7, 33, 0.28)), to(rgba(7, 7, 33, 0.28))), url('../../public/images/bgxdao1.png');
    background-image: linear-gradient(180deg, rgba(7, 7, 33, 0.28), rgba(7, 7, 33, 0.28)), url('../../public/images/bgxdao2.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 img{
    height: auto;
    width: auto;
}

.section1 h3{
    margin-top: 0.2em;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    color: #2fc29e;
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 400;
    text-align: center;
}

.section1 p{
    width: 50em;
    margin: 0em auto 0px;
    padding-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: #f5f5fa;
    font-size: 1.2em;
    line-height: 1.5;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.btns{
    margin-top: 20px;
    box-shadow: 6px 6px 14px 1px rgba(37, 44, 97, 0.14);  
  
}

.btns a{
    background-color: white !important;
    margin: 10px;
    align-items: center;
    border-radius: 0.4em;
    background-color: #fff;
    background-image: none;
    box-shadow: 6px 6px 14px 1px rgba(37, 44, 97, 0.14);
    font-family: Montserrat, sans-serif;
    color: #4bdbb7 !important;
    font-size: 0.8em;
    line-height: 1px;
    font-weight: 600;
    text-align: center;
   padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    color: #2fc29e;
    font-size: 1em;
    line-height: 1px;
    width: 220px;
    height: 45px;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
  
}






@media all and (min-width: 992px){

.section1 img{
    width: 60%;
    height: auto;
    margin: auto;
}
}

@media (max-width: 991.98px) {
    .section1{
       justify-content: left;
      
    }
    .section1 img{
        text-align: left;
        height: 150px;
        margin: 0;
    }

    .section1 h3{
        text-align: left;
    }
    .section1 p{
        text-align: left;
    }
    .btns a{
        margin: 0;
        width: 250px;
        height: 50px;
        font-size: 1.2em;
    }
    .btns{
        text-align: left !important;
    }
    .section1 h3{
        font-size: 2em;
        line-height: 1.1em;
    }
    .section1 p{
        font-size: 1.2em;
        line-height: 1.5;
    }
}
@media (max-width: 767.98px) {
    .section1 img{
        width: 80%;
        height: auto;
   
    }
    .section1 h3{
        font-size: 2em;
        line-height: 1.3em;
        font-weight: 500;
    }
    .section1 p{
        font-size: 1.1em;
        line-height: 1.5;
    }
    .btns a{
        margin: 0;
        width: 100%;
        height: 50px;
        font-size: 1.2em;
    }
}
@media (max-width: 575.98px){}